.contact {
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%);
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	height: 90px;
	margin: 0 auto;
	margin-bottom: 2px;
	padding: 5px;
	width: 92%;

	.name {
		color: #6a6a6a;
		font-family: 'Berkshire Swash', cursive;
		margin-top: 0;
	}

	.photo {
	  background-color: #ffdfef;
	  border-radius: 50%;
	  height: 43px;
	  width: 43px;
	}
}