.ChatBar {
	background: linear-gradient(to bottom, #9d9d9d 0%, #444444 100%);
	float: left;
	height: 10%;
	width: 100%;

	form {
		height: 100%;
		width: 100%;
	}

	input {
		font-family: Arial;
		font-size: 20px;
		margin-top: 10px;
	}

	input[type="text"] {
		display: inline-block;
		float: left;
		height: 33px;
		margin-left: 2px;
	    width: 90%;
	}

	input[type="submit"] {
		background: linear-gradient(to bottom, #b5bdc8 0%,#6d6d6d 100%);
		display: inline-block;
		border: none;
		border-radius: 3px;
		color: #fff;
		font-size: 1rem;
		float: left;
		height: 37px;
	    width: 8%;
	}
}
