.ChatWall {
	background-color: #f5ffec;
	float: left;
	height: 80%;
	overflow-y: auto;
	position: relative;
	width: 100%;
}

.msgLines {
	bottom: 0;
	position: absolute;
	right: 0;
	text-align: right;

	p {
		-webkit-margin-before: 5px;
	    -webkit-margin-after: 5px;
	}

	span {
		background-color: #b2b2b2;
		border-radius: 7px;
		font-size: 1.2rem;
		margin: 5px 10px;
		padding: 2px 7px;
	}
}
